# Ignore target directories
*/target/

# Ignore IDE-specific files and directories
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Ignore Maven-specific files
mvnw
mvnw.cmd
.gradle/
.gradle-cache/
out/
build/
bin/